body {
  background-color: #ffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  width: 1158px;
  height: 72px;
  background-color: #ffffff;
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
}
.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.header-logo-color {
  color: #2e2f42;
}
.list-item {
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.list-item:hover {
  color: #404bbf;
}
.list-item:focus {
  color: #404bbf;
}
.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.address {
  font-style: normal;
}
.header-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.contacts {
  color: #434455;
  text-decoration: none;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}
.our-main-section {
  padding: 188px 0;
}
.div-main-container {
  height: 600px;
  max-width: 1158px;
  padding: 0 15px;
  background: #2e2f42;
  align-items: center;
  padding-top: 180px;
  margin: 0 auto;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 496px;
}
.main-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  margin: 0 auto;
  height: 56px;
  min-width: 169px;
}
.main-button:hover {
  background-color: #404bbf;
}
.main-button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-features-section {
  padding: 120px 0;
}
.features {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
}
.features-list-item {
  width: calc((100% - 72px) / 4);
}
.list-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-features {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.div-container-team {
  padding: 32px 0;
}

.our-section-team {
  background-color: #f4f4fd;
  height: 732px;
  padding: 120px 0;
}
.our-second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.worker-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-left: 156px;
  margin-right: 156px;
  align-items: center;
}
.worker-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 380px;
  gap: 24px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.worker-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.photo {
  align-items: center;
}
img {
  display: block;
}
.div-container-team {
  padding: 32px 0;
}
.our-team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-top: 8px;
}
.our-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
}
.portfolio-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.div-portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.first-item-list :first-child {
  width: calc((100% - 48px) / 3);
}
.div-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  margin-left: 156px;
  max-width: 264px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 156px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer {
  background: #2e2f42;
  width: 1519px;
  height: 312px;
  display: flex;
  padding: 100px 0;
}
.our-footer-container {
}
