body {
  background-color: #ffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 318px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* header */

.header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
button {
  cursor: pointer;
}
.header-container {
  width: 1158px;
  height: 72px;
  background-color: #ffffff;
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header-list,
.address {
  display: none;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: block;
  padding: 16px 0;
}
.header-logo-color {
  color: #2e2f42;
}
.header-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.header-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
  .header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
  }
  .header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .address {
    font-style: normal;
    display: block;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    padding: 24x 0;
    margin-right: 120px;
  }
  .list-item {
    color: #2e2f42;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-item.current {
    position: relative;
  }
  .list-item.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
  .list-item:hover,
  .list-item:focus,
  .list-item.current {
    color: #404bbf;
  }
  .contacts {
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }
  .header-contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-contacts {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    gap: 40px;
    list-style-type: none;
  }
}

/* mobile menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-close-button {
  fill: #2e2f42;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-contacts {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.mobile-menu-contacts:hover,
.mobile-menu-contacts:focus {
  color: #404bbf;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-items {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-items:hover,
.mobile-menu-items:focus {
  color: #404bbf;
}
.icon-list-mobile {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}
.icon-item-mobile {
  width: 40px;
  height: 40px;
}
.mobile-menu-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* main-section */
.main-section {
  max-width: 320px;
  height: 432px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: auto;
  max-width: 216px;
  margin-bottom: 72px;
}
.main-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  margin: auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
    padding: 116px 0;
  }
  .main-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-des@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .main-section {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 188px 0;
  }
  .main-title {
    margin-bottom: 48px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-features-section {
  padding-bottom: 96px;
  padding-top: 96px;
}
.features {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  row-gap: 72px;
  max-width: 288px;
}
.features-list-item {
  width: 288px;
  align-items: flex-start;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.hidden {
  display: none;
}
.list-features {
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
.text-features {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}
/*@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  .features-list-item {
    width: calc((100% - 24px) / 2);
  }
}*/
@media screen and (min-width: 1158px) {
  .our-features-section {
    padding: 120px 0;
    padding-top: 96px;
  }
  .features {
    display: flex;
    gap: 24px;
    list-style-type: none;
    display: flex;
    max-width: 318px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .div-features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .icon-features {
    fill: #f4f4fd;
  }
  .features-list-item {
    width: 264px;
    gap: 8px;
  }
  .list-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .text-features {
    font-weight: 400;
  }
}
